.size-chart {
  margin-bottom: 50px;
}

.size-chart-heading {
  border-top: 1px solid #231F20;
  padding: 32px 10px 0 10px;
  .size-chart-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: -1px;
    img {
      width: 2.75em;
      margin-bottom: .438em;
      margin-top: -.625px;
    }
  }
}

.size-chart-details {
  margin: 0 35px;
  div {
    width: 4.875em;
    margin-top: -1px;
  }
  h3 {
    font-family: 'Tinos', serif;
    font-weight: 700;
    font-size: 19px;
    margin-top: .05em;
    width: 47.265%;
  }
  p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    width: 47.265%;
  }
}

.size-chart-table {
  margin-top: 50px;
  margin-bottom: 20px;
  margin: 0 10px;
}

table {
  margin-top: 50px;
  display: table;
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
  font-size: .8125em;
  border-color: grey;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 1.1;
  td {
    border-bottom: 1px solid #999;
    font-size: 13px;
  }
  .titles {
    font-weight: 700;
    td {
      text-transform: uppercase;
      font-size: 11px;
      border-bottom: 2px solid #999;
    }
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    height: 35px;
  }
  tr:hover {
    background-color: #999999;
    td:hover {
      color: white;
    }
  }
}

@media only screen and (max-width: 639px) {
  .size-chart-details {
    margin: 0;
    margin-left: 35px;
    h3 {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
}
