.hero-our-denim {
  padding-bottom: 1.25em;
  margin-bottom: 1.25em;
  border-bottom: 1px solid #231F20;
  display: flex;

}

.our-denim {
  padding-top: 5px;
  display: flex;
  flex-direction: column;  
  .our-denim-heading {
    display: flex;
    align-items: flex-start;
    font-family: 'Tinos', serif;
    div {
      width: 4.875em;
      padding: 0 0.625em;
      margin-top: -1px;
    }
    img {
      width: 2.75em;
      margin-bottom: 11px;
      margin-top: -1px;
    }
    h3 {
      font-weight: 700;
      font-size: 1.189em;
      padding: 0 0.625em;
      margin-right: 4.8em;
      margin-top: .05em;
    }
  }
}


.article-left-our-denim {
  float: left;
  width: 50%;
  display: block;
}

.article-right-our-denim {
  float: right;
  width: 50%;
  display: block
}

.article-left-img-wrapper, .article-right-img-wrapper {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 .625em;
  img {
    max-width: 100%;
  }
  .article-left-caption, .article-right-caption{
    font-family: 'Tinos', serif;
    position: absolute;
    top: 0;
    right: .625em;
    bottom: 0;
    left: .625em;
    text-align: center;
    h1 {
      margin: 30% 0 0.25em 0;
      font-size: 4em; 
      color: #fff;
    }
    span {
      border-bottom: 0.0625em solid #fff;
      line-height: 1em;
    }
  }
}

@media only screen and (max-width: 719px) {
  .article-left-caption, .article-right-caption{
    span {
      font-size: 48px;
    }
  }
}

@media only screen and (max-width: 639px) {
  .our-denim-content {
    display: flex;
    flex-direction: column;
  }
  .article-left-our-denim, .article-right-our-denim {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .article-left-caption, .article-right-caption{
    span {
      font-size: 40px;
    }
  }
}