.home-hero {
  width: 100%;
  margin: 0 auto 40px auto;
  height: 40vh;
  max-height: 700px;
  min-height: 400px;
  background: url("https://s3.us-east-2.amazonaws.com/hiut-clone/Pages/home_page/panel_1.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  display: block;
  h2 {
    font-family: "Tinos";
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    font-size: 4rem;
    line-height: 1.1;
  }
}

.home-hero:after {
  content: "";
  display: block;
  padding-top: 20px;
  border-bottom: 1px solid #000;
  position: absolute;
  width: 100%;
  bottom: -20px;
  z-index: 100;
  height: 20px;
}

.home-hero-wrap {
  width: 450px;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: flex-start;
  left: 50px;
  margin-top: 3.12em;
}

.home-partition {
  margin-bottom: 1.275em;
  padding-bottom: 1.875em;
  border-bottom: 1px solid #231F20;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .home-partition-left, .home-partition-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    .home-img-container {
      width: 50.59%;
      padding: 0 .625em;
    }
    .home-img {
      width: 100%;
      padding: 0 .15%;
    }
  }
  .icon-container {
    width: 12.5%;
    padding: 0 1.4%;
  }
  .icon-denim {
    width: 74.56%;
  }
  .wrapper {
    width: 37.5%;
    padding: 0 1.43%;
    header {
      font-family: 'Tinos', serif;
      font-weight: 700;
      font-size: 19px;
    }
    p {
      font-family: 'Ropa Sans', sans-serif;
      font-size: 13px;
    }
    footer {
      margin-top: 1.25em;
      .product-link {
        font-family: 'Ropa Sans', sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: #C61B21;
      }
    }
  }
}

.video-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 1.2em auto;
  border-bottom: 1px solid #231f20;
  padding-bottom: 1.2em;
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      width: 560;
      height: 315;
    }
}

@media only screen and (max-width: 800px) {
  .home-hero {
    h2 {
      font-size: 48px;
    }
  }
}

@media only screen and (max-width: 639px) {
  .home-partition {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .home-partition-left, .home-partition-right {
      width: 100%;
    }
    .home-partition-right {
      margin-top: 5px;
    }
  }
}