.footer {
  text-transform: uppercase;
  font-family: 'Tinos', serif;
  font-size: .6875em;
  font-weight: 700;
  position: relative;
  display: flex;
	align-items: flex-start;
  border-bottom: 1px solid #231F20;
  padding-bottom: .625em;
  margin-bottom: 0.5em;
  max-width: 1400px;
  #footer-logo-container {
    width: 60px;
    padding: 0 10px;
    #footer-logo {
      width: 40px;
    }
  }
  nav {
    display: flex;
    align-items: flex-start;
    width: 100%;
    .row {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: #878787;
    }
    .one {
      margin-left: -.375em;
    }
    .two, .three {
      border-left: 1px solid lightgrey;
    }
    .li-no-show {
      color: white;
    }
  }
  ul {
     width: 28.42%;
     margin: -5px 0px 5px;
     padding: 0 10px;
     li {
       width: 100%;
       margin-bottom: .5px;
     }
  }
}

.copyright {
  font-family: 'Ropa Sans', sans-serif; 
  font-size: 11px;
  line-height: 24px;
  color: #878787;
  text-align: right;
  margin-top: -3px;
  padding-bottom: 3px;
}

@media only screen and (min-width: 480px) and (max-width: 887px) {
  .footer { 
  #footer-logo-container {
    margin: auto 0;
    width: 13.611%;
    #footer-logo {
      width: 88.4%;
    }
  }
  }
}

@media only screen and (max-width: 479px) {
  #footer-logo-container {
    display: none;
  }
}

@media only screen and (min-width: 492px) and (max-width: 719px) {
  .footer {
    font-size: 9px;
  }
  ul {
    li {
      line-height: 2em;
    }
 }
 .copyright {
  font-size: 9px;
  }
}

@media only screen and (max-width: 511px) {
  .footer {
    font-size: 8px;
  }
  ul {
    li {
      line-height: 2em;
    }
 }
 .copyright {
  font-size: 8px;
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    font-size: 7px;
  }
  ul {
    li {
      line-height: 2em;
    }
 }
 .copyright {
  font-size: 7px;
  }
}

@media only screen and (max-width: 371px) {
  nav {
   .row {
    width: 33%;
    padding-right: 0;
  }
}
}